.generateTest_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.generateTest_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.generatetest_centerGeneration {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin-left: 10%;
}

.generate_frames {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left_headline {
    margin-bottom: 20px;
    font-size: large;
}

.right_headline {
    margin-bottom: 20px;
    font-size: large;
}

.generateTest_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: center;
}

.generateTest_generate {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.genertateTest_scaling {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: white;
    height: fit-content;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.generatetest_select {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.geberateTest_up {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.scaling_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.scaling_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}
.genertateTest_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generate_text {
  width: 70%;
}

.generate_parameter {
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.genertateTest_parameter {
    margin: 20px;
    font-weight: lighter;
    display: contents;
}

.genertateTest_progress {
    accent-color: #B943B4
}

.generate_environment {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.generate_environment_text {
    width: 20%;
    margin-right: 20px;
    font-weight: lighter;
    align-self: center;
    display: contents;
}

.generate_environment_select {
    width: max-content;
}

.generateTest_button {
    display: flex;
    align-self: self-end;
    margin: 0px 20px 20px 0px;
}

.information_link {
    color: "white";
}