
.MuiInputBase-root {
    width: 150px;
    background-color:dimgray;
  } 

  .MuiInputLabel-root {
    color: pink !important;
  } 

  .MuiFormControl-root {
    
  }

  .select_main {
    margin: 5px;
  }