
.singleUser_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.singleUser_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.singleUser_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.singleUser_charts {
    width: 75%;
    margin-right: 20px;
    padding: 0px 20px 20px 20px;
}

.singleUser_sideContent {
    width: 10%;
}

.singleUser_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 150px;
    color: white;
    width: 15%;
    margin-right: 10px;
    height: fit-content;
    padding: 10px;
    background-color: #2E2D2D;
    margin-top: 50px;
}

.singleUser_pic {
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    align-self: center;
    position: relative;
    align-self: flex-start;
}

.singleUser_list {
    font-size: 13px;
    font-weight:lighter;
    margin-left: 15px;
    line-height: 50px;
}

.singleUser_upper_chart_section{
    display: flex;
    flex-direction: row;
    height: 33vh;
} 

.singleUser_middle_chart_section{
    display: flex;
    flex-direction: row;
    height: 33vh;
    margin-bottom: 20px;
    margin-top: 20px;
} 

.singleUser_bar_left {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 20px 0px 0px;
    padding-top: 3%;
}

.singleUser_bar_right {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 0px 0px 20px;
    padding-top: 3%;
}

.singleUser_lower_chart_section{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    height: 33vh;
    display: flex;
    flex-direction: row;
} 

.singleUser_pie_section {
    display: flex;
    flex-direction: row;
    height: 33vh;
}

.singleUser_pie_left {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    margin: 0px 20px 0px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.singleUser_pie_right {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    margin: 0px 0px 0px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.singleUser_num_left, .singleUser_num_right, .singleUser_num_middle {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.singleUser_num_middle {
    margin: 0px 20px 0px 20px;
   
}

.singleUser_num_numLeft, .singleUser_num_numMiddle, .singleUser_num_numRight {
    border-style: solid;
    border-width: 5px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.singleUser_num_numLeft {
    border-color: #cf2a9e;
}

.singleUser_num_numMiddle {
    border-color: #d45fe4;
}

.singleUser_num_numRight {
    border-color: darkturquoise;
}

.singleUser_num_textLeft, .singleUser_num_textMiddle, .singleUser_num_textRight {
    font-size: smaller;
    font-weight: 200;
    margin-top: 20px;
}

.singleUser_sideData {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
