.about_main {
    font-family: lexend;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 15%;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.about_headline {
    font-weight: bold;
    text-align: center;
}

.about_content {
    font-weight: lighter;
    width: 80%;
    align-self: center;
    line-height: 40px;
    /* line-break: strict; */
    /* margin-left: auto;
    margin-right: auto; */
    font-size: small;
    text-align: justify;
    margin-bottom: 50px;
}

.about_graphics {
    display: inline;
    margin-top: 30px;
}

.about_circle {
    background-color: #ffffff;
    filter: blur(50px);
    height: 150px;
    width: 500px;
    border-radius: 50%;
    /* display: flex; */
    /* position: relative; */
    /* left: 0px; */
    /* top: 90%; */
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
}

.about_img {
    height: 150px;
    width: 250px;
    bottom: 5%;
    z-index: 1;
    background: transparent;
    position: absolute;
    left: 37%;
}