.contact_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.contact_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contact_frame {
    height: 500px;
    width: 600px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
}

.contactButtons {
    align-self: center;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 60%;
}

.contact_form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
}

.form_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px 30px 10px
}

.mail_extra {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form_extra {
    height: 80px;
    margin: 30px 10px 30px 10px;
    padding: 15px;
    hyphens: auto;
    border-radius: 10px;
}

/* .submit_button {
    background-color: #B943B4;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: auto;
} */
 
.flyzone_adress {
    margin-left: auto;
    margin-right: auto;
    font-size:x-small;
    letter-spacing: 1px;
}