.contact_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.contact_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contact_frame {
    height: 500px;
    width: 600px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

.contactButtons {
    align-self: center;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 60%;
}

.contact_form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.form_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
    align-items: center;
}

.mail_extra {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form_extra {
    height: 80px;
    margin: 30px 10px 10px 10px;
    padding: 15px;
    hyphens: auto;
    border-radius: 10px;
    background-color: darkgray;
}

.error_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px
}
.contact_error {
    color: red;
    font-size:x-small;
    /* font-weight: lighter; */
}
 
.flyzone_adress {
    margin-left: auto;
    margin-right: auto;
    font-size:x-small;
    letter-spacing: 1px;
    margin-bottom: 20px;
}